Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Explore popular languages for Data Science.
- Understand the basics of version control using Git.
- Learn key concepts in Jupyter Notebooks and their role in data analysis.
- Familiarize yourself with common data science libraries in Python.
- Gain insights into using GitHub for collaborative projects.
- Common languages: SQL , R , Python

Some of the popular languages that Data Scientists use are: 
    Python, 
    R, 
    SQL

Some of the commonly used libraries used by Data Scientists include:
    Pandas
    NumPy
    Matplotlib
    Scikitlearn

Data Science Tools
Jupyter Notebooks
RStudio
VSCode

Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [12]:
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
hours

3.3333333333333335

## Author

Jibin Thomas Sam